<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hangman</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

  <div class="container-fluid">
    <div class="row">
      <div class="jumbotron" style="background: hsla(165, 94%, 44%, 0.26)">
        <h1>Hangman</h1>
        <p>Check it out on <a href="http://www.github.com/j-stew/hangman"</a>Github</p>
      </div>
    </div>

    <div class="content" style="font-size: large">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          {% if request.path in '/login/signup' %}
            <li><a href="{{ url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a href="{{ url_for('signup')}}"><span class="glyphicon glyphicon-user"></span> Sign-up</a></li>
          {% else %}
            <li><a href="{{ url_for('play')}}"><span class="glyphicon glyphicon-play-circle"></span> Play</a></li>
            <li><a href="{{ url_for('scores')}}"><span class="glyphicon glyphicon-stats"></span> Scores</a></li>
            <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <h1>
          {% block title %}
          {% endblock %}
          </h1>
        </div>

        <div class="row">
          {% block page %}
          {% endblock %}
        </div>

        <div class="row" style="margin-top: 3%">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger">
                <strong>{{ message }}</strong>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        </div>
      </div>

    </div>
  </div>
</body>
</html>
