<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hangman</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

  <div id="wrapper">
    <div class="container-fluid">
      <div class="jumbotron" style="background:hsla(165, 94%, 44%, 0.26)">
        <h1>Hangman</h1>
      </div>

      <div class="content">
        <div class="col-sm-2">
          <ul class="nav nav-pills nav-stacked">
            {% if request.path in '/login/signup' %}
              <li><a href="{{ url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li><a href="{{ url_for('signup')}}"><span class="glyphicon glyphicon-user"></span> Sign-up</a></li>
            {% else %}
              <li><a href="{{ url_for('play')}}"><span class="glyphicon glyphicon-play-circle"></span> Play</a></li>
              <li><a href="{{ url_for('scores')}}"><span class="glyphicon glyphicon-stats"></span> Scores</a></li>
              <li><a href="{{ url_for('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="col-sm-5">
          {% block title %}
          {% endblock %}
          
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-danger">
                <strong>{{ message }}</strong>
              </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block page %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container-fluid">
      <span="text-muted credit">View source code on <a href="http://github.com/j-stew/hangman">Github</a></span>
    </div>
  </div>

  </div>
</body>
</html>