{% extends "layout.html" %}

{% block title %}
Better luck next time!
{% endblock %}

{% block page %}
<div class="panel panel-success">
	<div class="panel-heading" style="font-size: large">Answer</div>
	<div class="panel-body text-uppercase" style="font-size: large">{{ guesses.answer }}</div>
</div>

<div class="panel panel-warning">
	<div class="panel-heading" style="font-size: large">Your Correct Guesses</div>
	<div class="panel-body text-uppercase" style="font-size: large">{{ guesses.correct_guesses }}</div>
</div>
{% endblock %}
