{% extends "layout_inside.html" %}
{% block page %}
<h1>Guess a letter!</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger">
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form class="form-inline" role="form" method="post" action="{{ url_for('play') }}">
<div class="form-group">
<label for="guess">Guess:</label>
<input type="text" class="form-control" name="guess" placeholder="Enter guess" required>
<button type="submit" class="btn btn-default">Submit</button>
</div>
</form>
<br>
<p>Remaining guesses: <span class="badge">{{ guesses.remaining_guesses }}</span></p>
<div class="col-sm-5"</div>
	<div class="panel panel-success">
    	<div class="panel-heading">Progress</div>
    	<div class="panel-body">{{ guesses.correct_guesses }}</div>
	</div>
</div>

<div class="col-sm-5"</div>
	<div class="panel panel-danger">
    	<div class="panel-heading">Incorrect guesses</div>
    	<div class="panel-body">{{ guesses.incorrect_guesses }}</div>
  	</div>
</div>
{% endblock %}