{% extends "layout_inside.html" %}
{% block page %}
<div class="container">
  <h1>Top Scores</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Username</th>
        <th>Wins</th>
        <th>Loses</th>
      </tr>
    </thead>
    {% for score in top_scores %}
    <tbody>
      <tr>
        <td class="text-capitalize">{{ score.username }}</td>
        <td>{{ score.wins }}</td>
        <td>{{ score.loses }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
