{% extends "layout.html" %}

{% block title %}
Sign-up for your account
{% endblock %}

{% block page %}
<form method="post" action="{{ url_for('signup') }}" autocomplete=off>
  <div class="form-group">
    <label for="username">Select a username:</label>
    <input type="text" class="form-control input-lg" name="username" placeholder="Enter username" required>
  </div>

  <div class="form-group">
    <label for="password">Select a password:</label>
    <input type="password" class="form-control input-lg" name="password" placeholder="Enter password" required>
  </div>

  <div class="form-group">
    <label for="confirm_password">Confirm password:</label>
    <input type="password" class="form-control input-lg" name="confirm_password" placeholder="Enter password" required>
  </div>
  <button type="submit" class="btn btn-info btn-lg">Submit</button>
</form>
{% endblock %}
