{% extends "layout.html" %}

{% block title %}
<h1>Awesome work!</h1>
{% endblock %}

{% block page %}
<div class="col-sm-5"</div>
	<div class="panel panel-success">
    	<div class="panel-heading">Answer</div>
    	<div class="panel-body">{{ guesses.answer }}</div>
	</div>
</div>

<div class="col-sm-5"</div>
	<div class="panel panel-danger">
    	<div class="panel-heading">Your Correct Guesses</div>
    	<div class="panel-body">{{ guesses.correct_guesses }}</div>
  	</div>
</div>
{% endblock %}
